@import url(https://fonts.googleapis.com/css?family=Lalezar:regular);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,regular,500,600,700,800,300italic,italic,500italic,600italic,700italic,800italic);
@import url(https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
h1,
h2,
h3 {
  font-family: "Lalezar";
}
h4,
h5,
h6 {
  font-family: "Montserrat";
}
p {
  font-family: "Open Sans";
}

.inner {
  width: min(150ch, 100% - 2rem);
  margin-inline: auto;
}
